@import "../../styles/base";

.header {
  @include material-shaddow-bottom;

  background-color: $light-gray;
  height: $height-unit;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
